<div class="modal fade text-black" id="addRemoteModal" tabindex="-1" aria-labelledby="addRemoteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRemoteModalLabel">Add Remote</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="addRemoteNameTxt">Remote Name:</label> <input id="addRemoteNameTxt" type="text" class="form-control">
        <label for="addRemoteURLTxt">Remote URL:</label> <input id="addRemoteURLTxt" type="text" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="addRemoteBtn" type="button" class="btn btn-primary btn-sm">Add Remote</button>
      </div>
    </div>
  </div>
</div>
