<div class="modal fade text-black" id="branchModal" tabindex="-1" aria-labelledby="branchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="branchModalLabel">Create Branch</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="branchTxt">Branch Name:</label> <input id="branchTxt" type="text" class="form-control">
        <input class="form-check-input" type="checkbox" value="" id="branchCheckoutCheckBox"> <label class="form-check-label" for="branchCheckoutCheckBox">Checkout After Create</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="branchBtn" type="button" class="btn btn-primary btn-sm">Create Branch</button>
      </div>
    </div>
  </div>
</div>
