<div class="modal fade text-black" id="cherrypickModal" tabindex="-1" aria-labelledby="cherrypickModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cherrypickModalLabel">Cherrypick Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="cherrypickSha"></p>
        <input class="form-check-input" type="checkbox" value="" id="commitCherrypickCheckBox"> <label class="form-check-label" for="commitCherrypickCheckBox">Commit after Cherrypick</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="cherrypickBtn" type="button" class="btn btn-primary btn-sm">Cherrypick</button>
      </div>
    </div>
  </div>
</div>
