<div class="modal fade text-black" id="cloneModal" tabindex="-1" aria-labelledby="cloneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cloneModalLabel">Clone Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="cloneURLTxt">URL:</label> <input type="text" class="form-control" id="cloneURLTxt">
        <div class="input-group">
          <label for="clonePathTxt">Parent Path:</label> <input type="text" class="form-control" id="clonePathTxt">
          <button id="clonePathBtn" type="button" class="btn btn-light"><i class="fa-solid fa-folder-open"></i></button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="cloneBtn" type="button" class="btn btn-primary btn-sm">Clone</button>
      </div>
    </div>
  </div>
</div>
