<div class="modal fade text-black" id="credentialsModal" tabindex="-1" aria-labelledby="credentialsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="credentialsModalLabel">Set Credentials</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link tab-btn-xsm active" id="https-tab" data-bs-toggle="tab" data-bs-target="#https-content" type="button" role="tab" aria-controls="https-content" aria-selected="true">HTTPS</button>
        </li>
        <li class="nav-item">
          <button class="nav-link tab-btn-xsm" id="ssh-tab" data-bs-toggle="tab" data-bs-target="#ssh" type="button" role="tab" aria-controls="ssh" aria-selected="true">SSH</button>
        </li>
      </ul>
      <div class="tab-content flex-auto-in-column">
        <div class="tab-pane fade show active full-height" id="https-content" role="tabpanel" aria-labelledby="https-tab">
          <div class="modal-body">
            <h6>Note: If you already have credentials stored in the keychain, this will overwrite them.</h6>
            <label for="usernameHTTPSTxt">Username:</label> <input type="text" class="form-control" id="usernameHTTPSTxt">
            <label for="passwordTxt">Password (or Personal Access Token):</label> <input type="password" class="form-control" id="passwordTxt">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            <button id="saveHTTPSBtn" type="button" class="btn btn-success btn-sm">Save</button>
          </div>
        </div>
      </div>
      <div class="tab-content flex-auto-in-column">
        <div class="tab-pane fade full-height" id="ssh" role="tabpanel" aria-labelledby="ssh-tab">
          <div class="modal-body">
            <div class="input-group">
              <label for="publicKeyPathTxt">Public Key Path:</label> <input type="text" class="form-control" id="publicKeyPathTxt">
              <button id="publicKeyPathBtn" type="button" class="btn btn-light"><i class="fa-solid fa-folder-open"></i></button>
            </div>
            <div class="input-group">
              <label for="privateKeyPathTxt">Private Key Path:</label> <input type="text" class="form-control" id="privateKeyPathTxt">
              <button id="privateKeyPathBtn" type="button" class="btn btn-light"><i class="fa-solid fa-folder-open"></i></button>
            </div>
            <label for="passphraseTxt">Passphrase (Optional):</label> <input type="password" class="form-control" id="passphraseTxt">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            <button id="saveSSHBtn" type="button" class="btn btn-success btn-sm">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
