<div class="modal fade text-black" id="deleteLocalBranchModal" tabindex="-1" aria-labelledby="deleteLocalBranchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLocalBranchModalLabel">Delete Branch Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="localBranchToDeleteShorthand"></p>
        <input class="form-check-input" type="checkbox" value="" id="deleteRemoteBranchCheckBox"> <label class="form-check-label" for="deleteRemoteBranchCheckBox">Delete Remote Branch</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="deleteLocalBranchBtn" type="button" class="btn btn-primary btn-sm">Delete Branch</button>
      </div>
    </div>
  </div>
</div>
