<div class="modal fade text-black" id="pushTagModal" tabindex="-1" aria-labelledby="pushTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pushTagModalLabel">Push Tag Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="tagName"></p>
        <select id="remoteTagSelect" class="form-select" aria-label="Remote Select">
          <option selected>No Remotes Detected!</option>
        </select>
        <input class="form-check-input" type="checkbox" value="" id="forcePushTagCheckBox"> <label class="form-check-label" for="forcePushTagCheckBox">Force Push</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="pushTagBtn" type="button" class="btn btn-primary btn-sm">Push Tag</button>
      </div>
    </div>
  </div>
</div>
