<div class="modal fade text-black" id="revertModal" tabindex="-1" aria-labelledby="revertModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="revertModalLabel">Revert Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="revertSha"></p>
        <input class="form-check-input" type="checkbox" value="" id="commitRevertCheckBox"> <label class="form-check-label" for="commitRevertCheckBox">Commit after Revert</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="revertBtn" type="button" class="btn btn-primary btn-sm">Revert</button>
      </div>
    </div>
  </div>
</div>
