<div class="modal fade text-black" id="stashModal" tabindex="-1" aria-labelledby="stashModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stashModalLabel">Stash Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="stashTxt">Message (optional):</label> <input id="stashTxt" type="text" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="stashBtn" type="button" class="btn btn-primary btn-sm">Stash</button>
      </div>
    </div>
  </div>
</div>
