<div class="modal fade text-black" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tagModalLabel">Create Tag</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="tagSha"></p>
        <input class="form-check-input" type="checkbox" value="" id="lightweightTagCheckbox"> <label class="form-check-label" for="lightweightTagCheckbox">Lightweight Tag (has no message or signature)</label>
        <div><label for="tagTxt">Tag Name:</label> <input id="tagTxt" type="text" class="form-control"></div>
        <div id="tagMessageContainer">
          <label for="tagMessageTxt">Tag Message (optional):</label> <textarea id="tagMessageTxt" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button id="tagBtn" type="button" class="btn btn-primary btn-sm">Create Tag</button>
      </div>
    </div>
  </div>
</div>
