<div id="welcomeView" class="display-flex-column full-height">
  <h1 class="text-align-center">Welcome to Oxidized Git</h1>
  <h2 class="text-align-center">To get started, please initialize, open, or clone a repository</h2>
  <div class="text-align-center">
    <button id="wInitBtn" type="button" class="btn btn-primary btn-lg"><i class="fa-solid fa-plus"></i> Init</button>
    <span class="little-padding-left">
        <button id="wOpenBtn" type="button" class="btn btn-primary btn-lg"><i class="fa-regular fa-folder-open"></i> Open</button>
    </span>
    <span class="little-padding-left">
        <button id="wCloneBtn" type="button" class="btn btn-primary btn-lg"><i class="fa-solid fa-arrow-down"></i> Clone</button>
    </span>
  </div>
</div>
