<div id="commitControls" class="controls">
  <div class="input-group">
    <input id="summaryTxt" type="text" class="form-control bg-dark text-white" placeholder="Summary">
    <span id="summaryTxtCounter" class="input-group-text bg-dark text-white"></span>
  </div>
  <textarea id="messageTxt" class="bg-dark text-white" rows="3" placeholder="Message"></textarea>
  <span class="right">
      <button id="commitBtn" class="btn btn-primary" type="button">
          <i class="fa-regular fa-circle-check"></i> Commit
      </button>
  </span>
  <span class="right-padding">
      <button id="commitPushBtn" class="btn btn-primary" type="button">
          <i class="fa-solid fa-arrow-up"></i> Commit & Push
      </button>
  </span>
</div>
