<div class="tab-pane fade show active full-height" id="commits" role="tabpanel" aria-labelledby="commits-tab">
  <div class="overflow-hidden full-height display-flex-column">
    <div class="resizable-row resizable-row-graph half-height full-width">
      <div class="full-height display-flex-column">
        <h4 id="projectName">Commits</h4>
        <div id="commitColumn" class="flex-auto-in-column overflow-auto">
          <svg id="commitTableSVG" width="0" height="0"></svg>
        </div>
      </div>
    </div>
    <div class="flex-auto-in-column display-flex-column little-padding-top">
      <ul class="nav nav-tabs display-flex-row flex-nowrap">
        <li class="nav-item">
          <button class="nav-link tab-btn-xsm white-space-nowrap active" id="commit-info-tab" data-bs-toggle="tab" data-bs-target="#commit-info" type="button" role="tab" aria-controls="commit-info" aria-selected="true">Info</button>
        </li>
        <li class="nav-item">
          <button class="nav-link tab-btn-xsm white-space-nowrap" id="commit-diff-tab" data-bs-toggle="tab" data-bs-target="#commit-diff" type="button" role="tab" aria-controls="commit-diff" aria-selected="true">File Changes</button>
        </li>
        <li class="nav-item little-padding-left flex-auto-in-row">
          <p id="commitWindowInfo" class="full-height no-margin-bottom display-flex-column white-space-nowrap"></p>
        </li>
      </ul>

      <div class="tab-content flex-auto-in-column">
        <div class="tab-pane fade show active full-height overflow-auto" id="commit-info" role="tabpanel" aria-labelledby="commit-info-tab"></div>
        <div class="tab-pane fade full-height" id="commit-diff" role="tabpanel" aria-labelledby="commit-diff-tab">
          <div class="full-height display-flex-column">
            <div class="flex-auto-in-column display-flex-row">
              <div class="resizable-column resizable-column-file-paths full-height little-padding-left little-padding-top">
                <div id="commitChanges" class="full-height overflow-auto"></div>
              </div>
              <div id="commitFileDiffTableContainer" class="flex-auto-in-row full-height overflow-auto little-padding-top little-padding-left">
                <table id="commitFileDiffTable"></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
