body {
    display: block;
    height: 100vh;
    overflow: auto;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: black;
}

.tab-btn-xsm {
    padding: 2px 4px;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.full-height {
    height: 100%;
}

.half-height {
    height: 50%;
}

.full-width {
    width: 100% !important;  /* important is required to override Resizable's width */
}

.flex-auto-in-column {
    flex: auto;
    min-height: 0;
}

.flex-auto-in-row {
    flex: auto;
    min-width: 0;
}

.resizable-column {
    border-color: white;
    border-right: 1px solid;
    position: relative;
    flex: none;
    width: 16.66%; /* This is the initial width */
}

.resizable-row {
    border-color: white;
    border-bottom: 1px solid;
    position: relative;
    flex: none;
}

.little-padding-top {
    padding-top: 10px;
}

.little-padding-bottom {
    padding-bottom: 10px;
}

.little-padding-left {
    padding-left: 10px;
}

#spinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
}

.file-path-txt {
    margin-bottom: 0;
}

.hoverable-row:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.selected-row {
    background-color: rgba(255, 255, 255, 0.1);
}

.added-code-line {
    background-color: rgba(0, 255, 0, 0.2);
}

.removed-code-line {
    background-color: rgba(255, 0, 0, 0.2);
}

.hljs {
    background-color: transparent;
}

pre {
    margin-bottom: 0;
    padding-left: 10px;
}

pre code.hljs {
    padding: 0;
}

.line-no {
    text-align: right;
    padding-right: 5px;
}

.line-content {
    width: 100%;
}

.controls {
    flex: initial;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.right {
    float: right;
}

.right-padding {
    float: right;
    padding-right: 10px;
}

.cm-item {
    text-align: left;
}

#messageTxt {
    width: 100%;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#contextMenu {
    display: grid;
    position: absolute;
    max-width: 500px;
    margin: 10px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

svg text {
    font-family: monospace;
}

svg .backgroundRect {
    opacity: 0;
}

svg .backgroundRect:hover {
    opacity: 0.75;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}
