td {
    font-size: 12px;
}

.right {
    float: right;
}

.cm-item {
    text-align: left;
}

#commitColumn, #branchColumn {
    display: block;
    height: calc(100vh - 110px);
    overflow: auto;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#contextMenu {
    display: grid;
    position: absolute;
    max-width: 500px;
    margin: 10px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

svg rect {
    opacity: 0;
}

svg rect:hover {
    opacity: 0.75;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}
