/* Remove default bullets */
.sub-tree-view, .tree-view {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.tree-view {
    margin: 0;
    padding: 0;
}

.bi-caret-down-fill {
    display: inline-block;
    transform: rotate(270deg);
}

.parent-tree {
    cursor: pointer;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.rotated-caret {
    transform: rotate(0deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
